{% extends 'main.html' %}

{% block content %}

{{ message }}

{% if number > 10 %}
    <p>Number is greater than 10</p>
{% elif number == 10 %}
    <p>Number is 10</p>
{% else %}
    <p>Number is less than 10</p>
{% endif %}

<hr>


<h1>Projects</h1>
<ul>
    {% for project in projects %}
        <li>Title: <a href="{% url 'project' project.id %}">{{ project.title }} </a> 
            <!-- 'project' stands for the name given in urls.py So in case the url path changes from projects to projects-list, as long as the name doesnt change, we dont need to edit the templates -->
            <br>
            Description: {{ project.description }} 
        </li>
    {% endfor %}
</ul>

{% endblock content %}